*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.container{
  width: 8s0%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container-text h2{
  font-size: 3rem;
}

@media only screen and (max-width: 480px){
  .container{
    width: 90%;
    margin: 0 auto;
    display: block;
  }
  .image-div img{
    width: 20rem;
    height: 20rem;
  }
  .container-text h2 {
    color: yellow;
  }
}
